<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
  {% extends "base.html" %}

  {% block content %}
      <h1>{{ action }}</h1>
      <form method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <p>
              {{ form.photo.label }}<br>
              {{ form.photo(class="form-control", type="file") }}<br>
          </p>
          <p>
              {{ form.name.label }}<br>
              {{ form.name(class="form-control", type="string") }}<br>
              {% for error in form.name.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
          <p>
              {{ form.members.label }}<br>
              {{ form.members(class="form-control", type="string") }}<br>
              {% for error in form.members.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
          <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
          <div>{{ message }}</div>
      </form>
  {% endblock %}
</body>
</html>