<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
  {% extends "base.html" %}

  {% block content %}
      <h1>{{ action }}
      <a href="/" class="main btn">На главную</a></h1>
      <form method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <p>
              <label class="images">
                <img class="avatar1" id="preview">
                <img class="avatar" src="{{ url_for('static', filename=chat.chat_image) }}">
                {{ form.photo(class='avatar form-control', id='fileInput', type='file', hidden=true) }}

            </label>&emsp;
              {{ form.name(class="inp", size=60, maxlength=50, type="string", value=chat.name, placeholder=form.name.label.text) }}<br>
              {% for error in form.name.errors %}
                  <div class="alert alert-danger" role="alert">
                      {{ error }}
                  </div>
              {% endfor %}
          </p>
          <p>
              <div class="container">
                {% if form.members.choices %}
                {% for label in form.members.choices %}
                        <label>
                            <input type="checkbox"
                                   name="{{ form.members.name }}"
                                   value="{{label}}"
                                   {% if label in members %}checked{% endif %}>
                            {{ label }}
                        </label>
                {% endfor %}
                {% else %}
                У вас нет друзей, но вы можете их добавить
                {% endif %}
                </div>
          </p>
          <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
          <div>{{ message }}</div>
      </form>

    <script>
        const fileInput = document.getElementById('fileInput');
        const preview = document.getElementById('preview');

        fileInput.addEventListener('change', function(e) {
            const file = e.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                }
                reader.readAsDataURL(file);
            }
        });
    </script>
  {% endblock %}
</body>
</html>