<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>Work log</title>
</head>
<body>
  {% extends "base.html" %}

  {% block content %}
  {% if current_user.is_authenticated %}
  <a href="/chat"><button class="create_chat">Создать чат</button></a>
  {% for chat in chats %}
  <a class="chat" href="/chat/{{ chat.id }}">
    <p class="chat">
      <label>&emsp;
          <img class="avatar" src="{{ url_for('static', filename=chat.chat_image) }}">&emsp;
          {{ chat.name }}
      </label>
    </p>
  </a>
  {% endfor %}
  {% else %}
  <div class="parent">
    <div class="block">
      <h2 style="text-align: center;">
      Быстрый и безопасный мессенджер для общения в реальном времени.
          Обменивайтесь сообщениями, файлами и создавайте групповые чаты с друзьями и коллегами.
          Простой интерфейс и надежное шифрование данных.
      </h2>
        <p style="text-align: center;">
            <a class="bottom-btn btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="bottom-btn btn btn-success" href="/login">Войти</a>
        </p>
    </div>
  </div>
  {% endif %}
  {% endblock %}
</body>
</html>