<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>Work log</title>
</head>
<body>
  {% extends "base.html" %}

  {% block content %}
  {% if current_user.is_authenticated %}
  <a href="/chat"><button class="create_chat">Создать чат</button></a>
  {% for chat in chats %}
  <a class="chat" href="/chat/{{ chat.id }}">
    <p class="chat">
      <label>&emsp;
          <img class="avatar" src="{{ chat.chat_image }}">&emsp;
          {{ chat.name }}
      </label>
    </p>
  </a>
  {% endfor %}
  {% else %}
  <p>login</p>
  {% endif %}
  {% endblock %}
</body>
</html>